node_modules
dist
docDist
test/unit/coverage
package-lock.json
playground/temp
yarn.lock
.DS_Store
.vscode
.idea
*.swp
*.tgz
coverage
/fonts
/site
/package
lib
es
*.tsbuildinfo
pnpm-lock.yaml
web-types.json
~*
.pnpm-debug.log
